<html>

    <head>

        <title>About page</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="maincontent">
        {{>header}}
        <img class='authorimg' src = "/img/Photo0116.jpg">
        <h3>{{detail}}</h3>
        </div>

        {{>footer}}   

    </body>

</html>