<html>

    <head>

        <title>About page</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/icon.png">

    </head>

    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="maincontent">
        {{>header}}
        <img class='authorimg' src = "img/DSC_0514 - Copy.JPG">
        <h3>{{detail}}</h3>
        </div>

        {{>footer}}   

    </body>

</html>